{% extends "app_main/base.html" %}

{% block meta %}
<title>{{title}}</title>
<meta property="og:title" content="{{title}}">
<meta name="description" content="{{description}}">
<meta property="og:description" content="{{description}}">
{% endblock %}

{% block content %}

<!----- internal main-content ------>
<div class="main-content col-md-10 col-12 bg-white rounded-4 px-4" style="padding-bottom: 2.25rem; padding-top: 2.25rem;">
    {% if bookmarks %}
    <ul>
        {% for url, description in bookmarks.items %}
            <li class="py-2">
                <a href="{{ url }}" target="_blank">{{ description }}</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No bookmarks available.</p>
    {% endif %}
</div>

{% endblock %}
